body {
    background-color: rgb(238, 247, 244);
    font-family: sans-serif;
}

h3 {
    text-align: center;
    font-family: cursive;
}

.prozorist1 {
    opacity: 0.95;
}

.prozorist2 {
    opacity: 0.75;
}

.prozorist3 {
    opacity: 0.55;
}

.prozorist4 {
    opacity: 0.35;
}

.prozorist5 {
    opacity: 0.15;
}

.prozorist6 {
    opacity: 0.11;
}

b {
    font-family: cursive;
    font-size: 18px;
}