body {
    background-color: rgb(41, 41, 41);
}

.box {
    background-color: azure;
    height: 100px;
    width: 100px;
    margin: 5px;
    border-radius: 4px;
    position: relative;
    display: inline-flex;
}

.box_wide {
    width: 210px;
}

.box_high {
    height: 210px;
}

.gradient {
    background: linear-gradient(0deg, #8b8b8b 0%, #f0ffff 100%);
}

.box_1 {
    height: 225px;
    width: 225px;
    display: inline-block;
}