body {
    text-align: center;
    background-color: aqua;
    color: rgb(73, 72, 72);
    margin: 15%;
}

table {
    border-collapse: collapse;
    margin: 20px;
    border: 1px solid;
    width: 100%;
}

td, th {
    border: 1px solid;
    padding: 5px;
}