body {
    background-color: rgb(224, 243, 236);
}

ol {
    font-family: sans-serif;
    margin: 25px;
    padding: 15px;
    background-color: pink;
    color: white;
    list-style-position: inside;
}
 
li {
    background-color: rgb(228, 129, 146);
    padding: 5px;
    margin-bottom: 10px;
}

span {
    background-color: rgb(201, 87, 106);
    /* height: 100%; */
    padding: 3px;
}