h6 {
    color: purple; font-size: 35px;
}
header { border: 1px solid red;}

nav { border: 1px solid red

}
aside {border: 1px solid red

}
main {border: 1px solid red

}
article {border: 1px solid red

}
footer {border: 1px solid red

}
.header {
    color: aqua;
}